html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, section, header, nav, main, footer {
  margin: 0;
  padding: 0; }

img {
  border: 0;
  display: block; }

a, u {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

em, i {
  font-style: normal; }

b, strong {
  font-weight: 100; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

@font-face {
  font-family: 'iconfont';
  /* project id 372261 */
  src: url("//at.alicdn.com/t/font_ubvh7b7c8dfpf1or.eot");
  src: url("//at.alicdn.com/t/font_ubvh7b7c8dfpf1or.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_ubvh7b7c8dfpf1or.woff") format("woff"), url("//at.alicdn.com/t/font_ubvh7b7c8dfpf1or.ttf") format("truetype"), url("//at.alicdn.com/t/font_ubvh7b7c8dfpf1or.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  width: 100%; }

#board {
  height: 60px;
  background-color: #f82a01; }
  #board .board_con {
    width: 1190px;
    position: relative;
    margin: 0 auto;
    cursor: pointer; }
    #board .board_con > a img {
      width: 100%; }
    #board .board_con .show {
      width: 20px;
      height: 42px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 20px;
      background: #000 url(../img/index/header.png) no-repeat -52px 0; }
    #board .board_con .fold {
      width: 20px;
      height: 42px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 20px;
      background: #000 url(../img/index/header.png) no-repeat -72px 0; }
    #board .board_con a:nth-child(3) {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 0;
      background: url(../img/index/header.png) 0 -96px no-repeat; }

#top {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #dedede;
  background-color: #f7f7f7; }
  #top .top_con {
    width: 1190px;
    margin: 0 auto; }
    #top .top_con p {
      width: 130px;
      height: 35px;
      float: left; }
      #top .top_con p a {
        color: #666;
        line-height: 37px;
        font-size: 12px;
        cursor: pointer; }
        #top .top_con p a:hover {
          color: #d7063b; }
      #top .top_con p span {
        display: inline-block;
        margin-left: 5px;
        width: 1px;
        height: 10px;
        background: #dedede;
        line-height: 35px; }
    #top .top_con .jian {
      float: left;
      width: 101px;
      font-size: 12px;
      color: #666;
      padding-left: 10px;
      position: relative; }
      #top .top_con .jian span {
        height: 35px;
        line-height: 37px;
        display: inline-block;
        float: left;
        font-size: 12px;
        color: #666;
        margin-right: 6px; }
      #top .top_con .jian .area {
        position: absolute;
        width: 547px;
        top: 34px;
        left: 1px;
        z-index: 200;
        background-color: #fff; }
        #top .top_con .jian .area ul {
          width: 273px;
          border-right: 1px dotted #ddd;
          float: left; }
          #top .top_con .jian .area ul li {
            marign-bottom: 7px;
            padding-left: 10px; }
            #top .top_con .jian .area ul li a {
              font-size: 12px;
              display: inline-block;
              line-height: 20px;
              padding: 0 5px;
              margin-left: 4px;
              text-align: center;
              color: #000; }
            #top .top_con .jian .area ul li .act {
              background: #d7063b;
              color: #fff; }
    #top .top_con .jt {
      display: inline-block;
      width: 7px;
      transform: rotate(90deg);
      transition: all 0.3s;
      font-size: 1px; }
    #top .top_con .top_right {
      float: right;
      width: 616px;
      height: 35px; }
      #top .top_con .top_right ul li {
        float: left;
        height: 35px;
        line-height: 35px;
        width: auto;
        position: relative;
        padding: 0 8px; }
        #top .top_con .top_right ul li a {
          color: #666;
          font-size: 12px;
          padding: 0 5px 0 0; }
        #top .top_con .top_right ul li a.te {
          position: relative;
          top: -3px; }
        #top .top_con .top_right ul li em {
          display: inline-block;
          width: 11px;
          height: 16px;
          vertical-align: middle;
          background: url(../img/index/header.png) -36px -96px no-repeat; }
        #top .top_con .top_right ul li .mobile {
          background: url(../img/index/header.png) -136px -44px no-repeat; }
        #top .top_con .top_right ul li .blog {
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(../img/index/header.png) no-repeat -109px -75px; }
        #top .top_con .top_right ul li .chat {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-top: 9px;
          background: url(../img/index/header.png) no-repeat -90px -75px; }
          #top .top_con .top_right ul li .chat:hover .wechat {
            display: block;
            z-index: 200; }
        #top .top_con .top_right ul li:hover > a {
          color: #d7063b; }
        #top .top_con .top_right ul li:hover .menu2 {
          display: block; }
        #top .top_con .top_right ul li .menu2_con {
          width: 280px;
          height: 212px;
          background-color: #FFF;
          border: 1px solid #DEDEDE;
          color: #666;
          font-size: 12px;
          position: absolute;
          left: 0px;
          top: 35px;
          z-index: 100;
          display: none; }
          #top .top_con .top_right ul li .menu2_con .menu2_logo {
            width: 250px;
            height: 80px;
            padding: 15px; }
            #top .top_con .top_right ul li .menu2_con .menu2_logo > img {
              display: block;
              float: left;
              border: 1px solid #E2E2E2;
              border-radius: 50%;
              width: 80px;
              height: 78px; }
            #top .top_con .top_right ul li .menu2_con .menu2_logo > p {
              text-align: center;
              font-size: 14px;
              font-weight: 700;
              height: 80px;
              line-height: 80px;
              color: #333;
              font-family: "Microsoft YaHei"; }
          #top .top_con .top_right ul li .menu2_con .mine {
            width: 280px;
            height: 104px;
            padding-left: 10px; }
            #top .top_con .top_right ul li .menu2_con .mine > li {
              width: 120px;
              height: 24px;
              float: left; }
              #top .top_con .top_right ul li .menu2_con .mine > li:hover a {
                text-decoration: underline;
                color: #d7063b; }
        #top .top_con .top_right ul li .app {
          background-color: #FFF;
          border: 1px solid #DEDEDE;
          color: #666;
          font-size: 12px;
          position: absolute;
          left: 0px;
          top: 35px;
          z-index: 100;
          width: 261px;
          height: 158px;
          padding-left: 10px;
          padding-top: 21px;
          display: none; }
          #top .top_con .top_right ul li .app > img {
            display: block;
            float: left;
            width: 116px;
            height: 116px;
            margin-right: 10px; }
          #top .top_con .top_right ul li .app > div {
            float: left;
            width: 140px;
            position: absolute;
            left: 130px; }
            #top .top_con .top_right ul li .app > div p {
              font-size: 12px;
              width: 140px;
              color: #666;
              height: 21px;
              line-height: 21px; }
            #top .top_con .top_right ul li .app > div > p:nth-of-type {
              color: #d7063b; }
            #top .top_con .top_right ul li .app > div > dl {
              width: 50px;
              height: 70px;
              float: left;
              margin: 5px 10px 0 0; }
              #top .top_con .top_right ul li .app > div > dl:hover dt {
                background: url(../img/index/header.png) no-repeat; }
              #top .top_con .top_right ul li .app > div > dl > dt {
                width: 50px;
                height: 50px;
                background: url(../img/index/header.png) no-repeat -211px -52px; }
              #top .top_con .top_right ul li .app > div > dl > dd {
                height: 20px;
                line-height: 20px;
                text-align: center; }
        #top .top_con .top_right ul li .customer {
          width: 78px;
          position: absolute;
          top: 34px;
          left: 1px;
          z-index: 3;
          background-color: #fff;
          padding-left: 10px;
          display: none; }
          #top .top_con .top_right ul li .customer a:hover {
            color: #d7063b;
            text-decoration: underline; }
        #top .top_con .top_right ul li .wechat {
          position: absolute;
          left: -9px;
          top: 35px;
          width: 135px;
          height: 126px;
          padding-bottom: 15px;
          background: #fff;
          display: none; }
          #top .top_con .top_right ul li .wechat p {
            width: 135px;
            height: 36px;
            margin-top: 4px;
            font-size: 12px;
            text-align: center;
            line-height: 18px; }
          #top .top_con .top_right ul li .wechat img {
            display: block;
            margin: auto;
            width: 80px;
            height: 80px;
            margin-top: 7px; }

/*log*/
#logo {
  width: 1190px;
  height: 60px;
  margin: 0 auto;
  padding-top: 20px; }
  #logo h2 {
    width: 360px;
    height: 60px;
    padding-right: 30px;
    float: left; }
    #logo h2 a {
      display: inline-block; }
  #logo > div {
    width: 533px;
    height: 60px;
    float: left; }
  #logo .hotword {
    width: 540px;
    height: 22px;
    line-height: 25px; }
    #logo .hotword > a {
      font-size: 12px;
      color: #999;
      margin-top: 4px;
      margin-right: 10px; }
      #logo .hotword > a:hover {
        text-decoration: underline;
        color: #d7063b; }
  #logo .cart {
    width: 144px;
    height: 45px;
    float: right;
    margin-right: 28px;
    position: relative; }
    #logo .cart p:first-child {
      width: 78px;
      height: 43px;
      border: 1px solid #ddd;
      background-color: #e9e9e9;
      color: #666;
      text-align: center;
      line-height: 43px;
      font-size: 12px;
      cursor: pointer;
      float: left; }
    #logo .cart p:nth-child(2) {
      width: 60px;
      height: 45px;
      background-color: #d7063b;
      color: #fff;
      line-height: 43px;
      font-size: 12px;
      cursor: pointer;
      float: left;
      text-align: center; }
      #logo .cart p:nth-child(2) i {
        display: inline-block;
        width: 18px;
        height: 15px;
        vertical-align: middle;
        background: url(../img/index/header.png) -72px -96px no-repeat; }
      #logo .cart p:nth-child(2) span {
        font-weight: bold; }
    #logo .cart .cart_con {
      width: 210px;
      min-height: 80px;
      background: #fff;
      border: 1px solid #E9E9E9;
      border-top: 2px solid #d7063b;
      position: absolute;
      top: 45px;
      right: 4px;
      padding: 0 38px;
      font-size: 12px;
      color: #999;
      line-height: 80px;
      z-index: 100;
      display: none; }
      #logo .cart .cart_con i {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        background: url(../img/index/header.png) no-repeat;
        margin-top: 12px;
        vertical-align: top; }
    #logo .cart .cart_con1 {
      width: 288px;
      border: 1px solid #E9E9E9;
      border-top: 2px solid #d7063b;
      position: absolute;
      top: 45px;
      right: 4px;
      z-index: 200;
      display: none; }
      #logo .cart .cart_con1 dl {
        width: 288px;
        min-height: 101px;
        background: #fff; }
        #logo .cart .cart_con1 dl dt {
          width: 258px;
          height: 29px;
          line-height: 29px;
          padding: 0 15px;
          border-bottom: 1px solid #E9E9E9;
          color: #666;
          font-size: 12px; }
        #logo .cart .cart_con1 dl dd {
          width: 258px;
          padding: 10px 15px;
          position: relative; }
          #logo .cart .cart_con1 dl dd b {
            position: absolute;
            display: block;
            text-align: center;
            line-height: 10px;
            border: 1px solid #000;
            right: 10px;
            top: 10px;
            width: 10px;
            height: 10px; }
          #logo .cart .cart_con1 dl dd > a {
            display: block;
            width: 50px;
            height: 50px;
            margin-right: 5px;
            float: left; }
            #logo .cart .cart_con1 dl dd > a img {
              width: 50px;
              height: 50px; }
          #logo .cart .cart_con1 dl dd > div {
            height: 60px;
            float: left;
            font-size: 12px; }
            #logo .cart .cart_con1 dl dd > div > a {
              display: block;
              color: #666;
              width: 178px;
              height: 20px;
              line-height: 20px;
              text-align: left;
              margin-bottom: 6px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
              #logo .cart .cart_con1 dl dd > div > a:hover {
                color: #d7063b; }
            #logo .cart .cart_con1 dl dd > div .od {
              height: 40px;
              line-height: 40px;
              font-size: 14px; }
              #logo .cart .cart_con1 dl dd > div .od em {
                display: block;
                float: left; }
              #logo .cart .cart_con1 dl dd > div .od span {
                float: right;
                color: #d7063b; }
      #logo .cart .cart_con1 > div {
        width: 260px;
        height: 44px;
        padding: 30px 14px 15px;
        border-top: 1px dashed #fff;
        background: #E9E9E9; }
        #logo .cart .cart_con1 > div .total {
          width: 30px;
          height: 34px;
          line-height: 34px;
          float: left; }
          #logo .cart .cart_con1 > div .total em {
            display: block;
            width: 100px; }
        #logo .cart .cart_con1 > div p {
          width: 100px;
          height: 34px;
          line-height: 34px;
          float: right; }
          #logo .cart .cart_con1 > div p a {
            display: block;
            width: 100px;
            height: 34px;
            color: #fff; }

.search {
  width: 529px;
  height: 34px;
  border: 2px solid #d7063b;
  float: left;
  background: #fff;
  position: relative; }
  .search i {
    display: block;
    width: 21px;
    height: 21px;
    background: url(../img/index/header.png) 0 -52px no-repeat;
    float: left;
    margin: 6px 7px 0; }
  .search .inps {
    width: 386px;
    height: 24px;
    padding: 5px;
    border: 0;
    outline: none;
    display: block;
    float: left; }
  .search button {
    width: 98px;
    height: 34px;
    padding-left: 13px;
    line-height: 34px;
    background-color: #d7063b;
    font-size: 18px;
    color: #fff;
    letter-spacing: 7px;
    border: 0;
    outline: none;
    display: block;
    float: left; }
  .search ul {
    width: 432px;
    height: 30px;
    position: absolute;
    z-index: 3;
    left: -2px;
    top: 35px;
    background-color: #fff;
    border: 1px solid #dedede; }
    .search ul li {
      width: 100%; }
      .search ul li a {
        font-size: 12px;
        color: #666;
        padding: 6px 7px;
        display: block;
        line-height: 1.5; }
        .search ul li a:hover {
          background-color: #f7f7f7; }

/*nav*/
#nav {
  width: 1190px;
  height: 40px;
  margin: 15px auto 0; }
  #nav .nav_all {
    width: 190px;
    height: 40px;
    background: #d7063b;
    float: left;
    position: relative; }
    #nav .nav_all > i {
      display: inline-block;
      width: 16px;
      height: 10px;
      margin: 16px 14px 0 10px;
      background: url(../img/index/header.png) 0 -114px no-repeat; }
    #nav .nav_all > a {
      color: #fff;
      line-height: 40px;
      font-size: 14px;
      font-weight: 700; }
    #nav .nav_all .classify {
      position: absolute;
      left: 0;
      height: 454px;
      z-index: 100;
      background-color: rgba(248, 248, 248, 0.95); }
      #nav .nav_all .classify ul {
        overflow: hidden;
        width: 190px; }
        #nav .nav_all .classify ul li {
          width: 180px;
          height: 30px;
          font-size: 13px;
          line-height: 30px;
          padding-left: 10px; }
          #nav .nav_all .classify ul li a {
            color: #000; }
          #nav .nav_all .classify ul li:hover {
            padding-left: 15px;
            background-color: #d7063b;
            color: #fff; }
          #nav .nav_all .classify ul li:hover a {
            text-decoration: underline;
            color: #d7063b;
            color: #fff; }
          #nav .nav_all .classify ul li i {
            line-height: 30px;
            font-size: 18px;
            margin-right: 15px; }
      #nav .nav_all .classify .cater_con {
        position: absolute;
        width: 986px;
        min-height: 452px;
        padding-left: 14px;
        top: 0;
        left: 189px;
        background-color: #fff;
        z-index: 1001;
        border: 1px solid #d7063b; }
        #nav .nav_all .classify .cater_con div {
          width: 236px;
          height: auto;
          padding: 0 14px 10px 0;
          float: left; }
          #nav .nav_all .classify .cater_con div dl {
            width: 221px;
            height: auto;
            overflow: hidden;
            padding-top: 10px;
            padding-right: 15px;
            font-size: 12px; }
            #nav .nav_all .classify .cater_con div dl dt {
              margin-left: 6px;
              border-bottom: 1px dotted #ddd; }
              #nav .nav_all .classify .cater_con div dl dt a {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                color: #666;
                font-weight: 700; }
                #nav .nav_all .classify .cater_con div dl dt a:hover {
                  text-decoration: underline; }
            #nav .nav_all .classify .cater_con div dl dd {
              padding-top: 3px;
              width: 221px;
              height: auto;
              overflow: hidden; }
              #nav .nav_all .classify .cater_con div dl dd a {
                margin: 11px 0 0 -1px;
                display: inline-block;
                line-height: 13px;
                float: left;
                padding: 0 6px;
                color: #666;
                border-left: 1px solid #DEDEDE;
                white-space: nowrap; }
                #nav .nav_all .classify .cater_con div dl dd a:hover {
                  text-decoration: underline;
                  color: #d7063b; }
        #nav .nav_all .classify .cater_con div:last-child {
          width: 211px;
          height: 412px;
          padding: 20px 20px 20px 5px; }
          #nav .nav_all .classify .cater_con div:last-child img {
            width: 80px;
            height: 40px;
            float: left; }
          #nav .nav_all .classify .cater_con div:last-child > div img {
            display: inline-block;
            width: 210px;
            height: 150px;
            margin-top: 15px; }
  #nav > ul {
    width: 720px;
    height: 40px;
    float: left; }
    #nav > ul li {
      float: left;
      position: relative; }
      #nav > ul li i {
        display: block;
        width: 27px;
        height: 18px;
        position: absolute;
        top: -7px;
        right: -8px;
        background: url(../img/index/header.png) no-repeat 0 -140px; }
      #nav > ul li a {
        display: block;
        width: 60px;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        font-size: 15px;
        font-weight: 700;
        color: #000; }
        #nav > ul li a:hover {
          color: #d7063b; }
  #nav .nav_pic {
    float: right;
    margin-top: -20px;
    margin-right: 28px; }

#footer {
  width: 1190px;
  height: 375px;
  margin: 0 auto; }
  #footer .guarantee {
    width: 1188px;
    height: 145px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; }
    #footer .guarantee li {
      width: 160px;
      height: 145px;
      position: relative;
      padding-left: 130px;
      background: url("http://img02.fn-mart.com/pic/51d3133e08762a7bafeb/B262zz1z_TCgBgUlOz/59eyoaBRLxWxJY/CsmRsll-8oGANltXAABBlsG1hE8243.png") no-repeat;
      background-position: 70px 43px;
      overflow: hidden;
      float: left; }
      #footer .guarantee li span {
        margin-top: 40px;
        color: #000;
        font-size: 20px;
        font-weight: 900;
        display: block; }
      #footer .guarantee li p {
        line-height: 30px;
        color: #ccc;
        font-size: 18px;
        margin-top: 6px; }
      #footer .guarantee li i {
        height: 75px;
        width: 1px;
        background: #000;
        position: absolute;
        top: 35px;
        left: 304px; }
  #footer .lists {
    width: 1132px;
    padding-top: 20px;
    height: 200px;
    padding-left: 58px; }
    #footer .lists ul {
      float: left;
      width: 147px;
      position: relative; }
      #footer .lists ul span {
        display: block;
        position: absolute;
        left: -22px;
        top: 3px;
        background: #ccc url("http://static02.fn-mart.com/product/images/index/fn_g_header.png?170725") no-repeat;
        border-radius: 2px;
        width: 20px;
        height: 20px;
        background-position: -23px -52px; }
      #footer .lists ul i {
        color: #333;
        height: 24px;
        line-height: 24px;
        display: block;
        font-size: 16px; }
      #footer .lists ul li {
        color: #666;
        height: 22px;
        line-height: 22px;
        font-size: 11px; }
    #footer .lists ul:nth-child(2) span {
      background-position: -96px -44px; }
    #footer .lists ul:nth-child(3) span {
      background-position: -118px -22px; }
    #footer .lists ul:nth-child(4) span {
      background-position: -96px -22px; }
    #footer .lists ul:nth-child(5) {
      margin-right: 100px; }

#footer1 {
  height: 222px;
  margin-top: 20px; }
  #footer1 .footer_con {
    width: 1190px;
    margin: 0 auto; }
    #footer1 .footer_con .footer_nav {
      height: 18px;
      padding: 30px 0 20px 0;
      text-align: center;
      font-size: 12px; }
      #footer1 .footer_con .footer_nav a {
        display: inline-block;
        font-size: 12px;
        padding-right: 15px;
        margin-left: 10px;
        color: #666;
        text-decoration: none;
        cursor: pointer; }
        #footer1 .footer_con .footer_nav a:hover {
          text-decoration: underline; }
    #footer1 .footer_con .footer_link {
      height: 18px;
      margin: 0 auto;
      text-align: center;
      line-height: 18px;
      font-size: 12px; }
      #footer1 .footer_con .footer_link a {
        display: inline-block;
        font-size: 12px;
        padding-right: 15px;
        margin-left: 10px;
        color: #666;
        text-decoration: none;
        cursor: pointer; }
    #footer1 .footer_con p {
      height: 18px;
      margin: 0 auto;
      text-align: center;
      line-height: 18px;
      font-size: 12px;
      color: #666; }
      #footer1 .footer_con p a {
        color: #666; }
    #footer1 .footer_con ul {
      width: 900px;
      height: 40px;
      padding: 30px 0;
      margin: 0 auto; }
      #footer1 .footer_con ul li {
        float: left; }
        #footer1 .footer_con ul li a {
          margin-right: 10px; }
          #footer1 .footer_con ul li a img {
            display: inline-block;
            width: 110px;
            height: 40px; }

/*# sourceMappingURL=common.css.map */
