.wrap {
  height: 119px;
  background: url(../img/index/CsmRrFbsvLOAIuilAAA4oyyoYH8774.jpg);
  border-top: 1px solid #c20053; }
  .wrap .header_wrap {
    width: 980px;
    height: 120px;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden; }
    .wrap .header_wrap a {
      display: block;
      margin-left: -425px; }

.pro {
  width: 1188px;
  height: 573px;
  border: 1px solid #eee;
  margin: 0 auto; }
  .pro .pro_left {
    width: 400px;
    height: 573px;
    border-right: 1px solid #eee;
    position: relative;
    float: left; }
    .pro .pro_left .middle_pic {
      width: 400px;
      height: 400px;
      position: relative; }
      .pro .pro_left .middle_pic img {
        width: 400px;
        height: 400px; }
      .pro .pro_left .middle_pic .mirror {
        position: absolute;
        width: 250px;
        height: 250px;
        background: rgba(0, 0, 0, 0.3);
        left: 0;
        top: 0;
        display: none; }
      .pro .pro_left .middle_pic .bigmirror {
        position: absolute;
        top: 1px;
        left: 403px;
        width: 500px;
        height: 500px;
        border: 1px solid #eee;
        overflow: hidden;
        z-index: 2;
        display: none; }
        .pro .pro_left .middle_pic .bigmirror img {
          position: absolute;
          left: 0;
          top: 0;
          width: 800px;
          height: 800px; }
    .pro .pro_left .small_pic {
      margin: 3px 31px 15px;
      width: 338px;
      height: 66px;
      overflow: hidden; }
      .pro .pro_left .small_pic ul {
        width: 800px;
        height: 60px; }
        .pro .pro_left .small_pic ul li {
          width: 60px;
          height: 60px;
          float: left;
          margin-left: 8px;
          margin-right: 2px;
          padding-top: 3px;
          float: left; }
          .pro .pro_left .small_pic ul li img {
            width: 58px;
            height: 58px;
            border: 1px solid #f1f1f1; }
            .pro .pro_left .small_pic ul li img:hover {
              border-color: #C20053; }
      .pro .pro_left .small_pic .btn {
        position: absolute;
        top: 20px;
        width: 31px;
        height: 22px;
        top: 425px; }
      .pro .pro_left .small_pic .btnL {
        left: 2px;
        background: url(../img/index/arrow.gif) no-repeat 10px -42px; }
      .pro .pro_left .small_pic .btnR {
        right: 2px;
        background: url(../img/index/arrow.gif) no-repeat 10px -63px; }
    .pro .pro_left p {
      width: 388px;
      height: 14px;
      padding: 4px 0 20px 10px;
      line-height: 14px;
      color: #6c6c6c;
      font-size: 12px;
      cursor: pointer; }
      .pro .pro_left p a {
        padding-left: 16px;
        background: url(../img/index/sc.png) no-repeat 0 2px;
        color: #6c6c6c; }
  .pro .pro_right {
    width: 588px;
    float: left;
    padding-bottom: 20px;
    font-family: SimSun;
    border-right: 1px #eee solid;
    min-height: 550px;
    background: #fff; }
    .pro .pro_right .guidance {
      padding: 20px 25px 15px;
      border-bottom: 1px #dedede solid;
      overflow: hidden;
      background: #fff;
      margin-bottom: 15px; }
      .pro .pro_right .guidance h1 {
        font-size: 16px;
        color: #3c3c3c;
        font-weight: 700;
        line-height: 20px;
        height: 40px; }
      .pro .pro_right .guidance p {
        padding-top: 10px;
        color: #da3a4c;
        font-size: 12px;
        font-weight: 100;
        line-height: 16px;
        max-height: 32px; }
    .pro .pro_right .limit {
      width: 553px;
      height: 32px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 12px 0 12px 15px;
      background: #fffaf2;
      position: relative; }
      .pro .pro_right .limit p {
        position: absolute;
        border-left: 1px #ddd solid;
        right: 0;
        top: 13px;
        height: 16px;
        line-height: 16px;
        color: #9c9c9c;
        padding: 0 15px 0 10px;
        font-size: 12px; }
      .pro .pro_right .limit div {
        height: 24px;
        line-height: 24px;
        margin-top: 8px; }
        .pro .pro_right .limit div span:nth-of-type(1) {
          color: #999;
          font-size: 12px;
          letter-spacing: 10px;
          vertical-align: top; }
        .pro .pro_right .limit div span:nth-of-type(2) {
          color: #C70034;
          font-size: 24px;
          line-height: 24px;
          font-weight: 600; }
          .pro .pro_right .limit div span:nth-of-type(2) em {
            font-size: 12px;
            vertical-align: bottom; }
        .pro .pro_right .limit div a {
          font-size: 12px; }
    .pro .pro_right .detail_show {
      width: 554px;
      height: 215px;
      margin: 13px 10px 0 10px;
      padding-left: 14px; }
      .pro .pro_right .detail_show .d {
        height: 45px;
        margin-bottom: 5px; }
        .pro .pro_right .detail_show .d dt {
          width: 67px;
          text-align: left;
          color: #999;
          font-size: 12px;
          line-height: 45px;
          float: left; }
        .pro .pro_right .detail_show .d dd {
          width: 473px;
          text-align: left;
          color: #999;
          font-size: 12px;
          float: left; }
          .pro .pro_right .detail_show .d dd a {
            display: block;
            border: 1px #ddd solid;
            width: 38px;
            height: 38px;
            margin-right: 10px;
            margin-bottom: 5px;
            float: left;
            text-indent: 0;
            cursor: pointer; }
            .pro .pro_right .detail_show .d dd a img {
              width: 100%;
              height: 100%; }
      .pro .pro_right .detail_show .b {
        height: 14px;
        line-height: 14px;
        margin-bottom: 10px; }
        .pro .pro_right .detail_show .b dt {
          width: 67px;
          text-align: left;
          color: #999;
          font-size: 12px;
          float: left; }
        .pro .pro_right .detail_show .b dd {
          width: 473px;
          text-align: left;
          color: #000;
          font-size: 12px;
          float: left; }
      .pro .pro_right .detail_show .c {
        height: 32px;
        line-height: 32px;
        margin-bottom: 10px; }
        .pro .pro_right .detail_show .c dt {
          width: 67px;
          text-align: left;
          color: #999;
          font-size: 12px;
          float: left; }
        .pro .pro_right .detail_show .c dd {
          width: 89px;
          height: 30px;
          border: 1px #DDD solid;
          float: left; }
          .pro .pro_right .detail_show .c dd a {
            display: block;
            width: 29px;
            height: 30px;
            border-right: 1px #DDD solid;
            text-align: center;
            cursor: pointer;
            float: left;
            color: #000; }
          .pro .pro_right .detail_show .c dd a:nth-of-type(2) {
            border-left: 1px #DDD solid;
            border-right: 0; }
          .pro .pro_right .detail_show .c dd input {
            width: 19px;
            border: none;
            text-align: center;
            vertical-align: middle;
            height: 20px;
            font-size: 18px;
            padding: 5px;
            outline: none;
            display: block;
            float: left; }
      .pro .pro_right .detail_show .good_cart {
        width: 161px;
        height: 45px;
        margin: 34px 0 0 67px;
        background: url(../img/newBtn.png) no-repeat;
        background-position: -50px -35px;
        cursor: pointer; }
        .pro .pro_right .detail_show .good_cart:hover {
          background-position: -241px -35px; }
    .pro .pro_right ul {
      width: 540px;
      height: 66px;
      margin: 13px 10px 0 10px;
      padding: 0  14px; }
      .pro .pro_right ul li {
        text-align: left;
        color: #999;
        font-size: 12px; }
      .pro .pro_right ul li:first-child {
        height: 26px;
        line-height: 26px;
        margin-bottom: 10px;
        overflow: visible;
        border-top: 1px #ddd dotted;
        padding-top: 15px; }
        .pro .pro_right ul li:first-child select {
          height: 23px;
          min-width: 148px;
          background: #fff;
          border: 1px solid #CECBCE;
          padding: 0 22px 0 8px;
          line-height: 23px;
          overflow: hidden;
          color: #3c3c3c;
          outline: none; }
        .pro .pro_right ul li:first-child span {
          color: #000; }
      .pro .pro_right ul li:nth-child(2) {
        height: 14px;
        padding-left: 47px; }
        .pro .pro_right ul li:nth-child(2) i {
          color: #000;
          display: inline-block;
          padding: 0 8px; }
      .pro .pro_right ul li:nth-child(3) {
        margin-top: 15px;
        line-height: 28px; }
        .pro .pro_right ul li:nth-child(3) span {
          display: inline-block;
          vertical-align: top;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px #ddd solid;
          height: 26px;
          line-height: 26px;
          margin-bottom: 10px;
          margin-right: 10px;
          font-size: 12px;
          cursor: default;
          vertical-align: top; }
          .pro .pro_right ul li:nth-child(3) span i {
            width: 15px;
            height: 15px;
            margin-top: 6px;
            margin-right: 5px;
            display: inline-block;
            background: url(../img/index/newBtn.png) no-repeat -8px -8px;
            vertical-align: top; }
  .pro .change {
    width: 198px;
    height: 566px;
    float: left; }
    .pro .change .look {
      background: #fcfcfc;
      border-bottom: 1px solid #f1f1f1;
      padding-right: 20px;
      padding-left: 20px;
      width: 158px;
      height: 35px; }
      .pro .change .look p {
        height: 35px;
        line-height: 35px;
        color: #666;
        float: left;
        font-size: 12px; }
      .pro .change .look a {
        display: block;
        float: right;
        height: 35px;
        line-height: 35px;
        color: #aaa;
        font-size: 12px;
        background: url(../img/index/side-look-icon.png) 0 0 no-repeat;
        padding-left: 18px; }
        .pro .change .look a:hover {
          background-position: 0 -35px; }
    .pro .change ul {
      padding: 10px;
      height: 510px; }
      .pro .change ul li {
        margin-top: 10px; }
        .pro .change ul li img {
          width: 120px;
          height: 120px; }
        .pro .change ul li a {
          width: 120px;
          height: 120px;
          display: block;
          margin: 0 auto 5px; }
        .pro .change ul li p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          height: 20px;
          line-height: 20px;
          color: #666;
          font-size: 12px; }
          .pro .change ul li p a {
            width: auto;
            height: auto;
            color: #3c3c3c;
            cursor: pointer; }
            .pro .change ul li p a:hover {
              color: #C20053; }
        .pro .change ul li .price {
          height: 18px;
          line-height: 18px;
          margin-bottom: 3px; }
          .pro .change ul li .price .now {
            display: inline-block;
            font-weight: 700;
            color: #d7063b;
            margin-right: 10px; }
            .pro .change ul li .price .now em {
              font-size: 12px; }
          .pro .change ul li .price .old {
            font-size: 12px;
            color: #999;
            text-decoration: line-through; }

.d_nav {
  border-bottom: 1px #C20053 solid;
  width: 1190px;
  height: 37px;
  background: #fff;
  margin: 20px auto 0; }
  .d_nav p {
    background: #eee;
    float: left;
    height: 35px;
    width: 130px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-right: 1px #ddd solid;
    cursor: pointer;
    text-align: center;
    line-height: 35px; }
  .d_nav .col {
    border: 1px #C20053 solid;
    color: #fff;
    background: #C20053; }

/*# sourceMappingURL=detail.css.map */
