@charset "utf-8";
$pageWidth:1190px;
$fontSize:12px;
body{
    width:100%;
}
@mixin show{
     width: 20px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
}
@mixin blog{
    display:inline-block;
    width: 18px;
    height: 18px;
}
@mixin a_style{
    text-decoration: underline;
    color:#d7063b;
}

/*轮播图*/
#carousel{
    height:454px;
    background: rgb(248, 42, 1);
    .carousel_con{
        position:relative;
        width:$pageWidth;
        height:454px;      
        ul:nth-of-type(1){
        position:absolute;
        width:800px;
        height:454px;
        left:227px;
        overflow: hidden;
        li{
           display:none;
        }
        
    }
    ul:nth-of-type(2){
            width:800px;
            height:20px;
            left:227px;
            position:absolute;
            bottom:9px;
            z-index:1000;
            div{
                width:240px;
                height:20px;
                margin:0 auto;
                 li{
                float:left;
                width: 19px;
                height: 19px;
                line-height: 19px;
                text-align: center;
                color: #fff;
                margin-right: 10px;
                background: url(../img/index/index.png) 0 -141px no-repeat;
                cursor:pointer;

            }
            .circle_active{
                background: url(../img/index/index.png) -21px -141px no-repeat;
            }
            
          }
           
        }
        .btn{
            position:absolute;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            line-height: 62px;
            background: #000;
            opacity: .2;
            z-index: 1;
            left: 50%;
            top: 50%;
            margin-top: -31px;
            color: #fff;
            font-weight: 400;
            font-size:46px;
            text-align:center;
            display:none;
        }
        .btnL{
            left:230px;
        }
        .btnR{
            left:960px;
        }
    #sevens{
    width:200px;
    height:434px;
    background:#f9f4ee;
    position:absolute;
    right:-37px;
    top:0px;
    .painting{
        width:200px;
        height:88px;
        border-bottom: 1px dashed #ccc;
        dl{
            float:left;
            height:88px;
            width:66px;
            overflow: hidden;
            &:hover dd{
                color:#d7063b;
            }
            dt{
                width:50px;
                height:50px;
                margin:10px 0  4px 10px;
                background:url("http://img02.fn-mart.com/C/web/layout/kk/20160308/201603081456041457420164_kk-0.png")no-repeat;  
            }
            dd{
                    font-size: 12px;
                    width:66px;
                    text-align: center;
                    color: #666;
                    line-height: 23px;
            }
        }
        dl:nth-child(2) dt{
            background:url("http://img03.fn-mart.com/C/web/layout/kk/20150926/20150926171141_kk-0.png")no-repeat;
        }
    }
    .notice{
        width:200px;
        height:55px;
        border-bottom: 1px dashed #ccc;
        padding-top: 5px;
       
        span{
            color:#333;
            font-size:12px;
        }
        i{
           color:#aaa;
            font-size:12px; 
            margin-top: 1px;
        }
    }
    .reacharge{
         position:relative;
        height:174px;
        width:200px;
        p{
            height:25px;
            width:98px;
            float:left;
            text-align: center;
            border-bottom: 1px solid #CCCCCC;
           
        }
        P:nth-child(1){
            border-right: 1px solid #CCCCCC;
          border-top:2px solid #FF0000;
          border-bottom:0;
        }
        span{
            display:block;
            margin-top: 10px;
            font-size: 12px;
            color:#999;
        }
        .inp1{
            margin-top:15px;
            
        }
        i{
            display:block;
            float:left;
            font-size:12px;
            color:red;
            position:absolute;
            top:94px;
            left:25px;
            
            
        }
        a{
            display:block;
            width:80px;
            height:30px;
            background:#d7063b;
            color:#fff;
            text-align: center;
            line-height: 30px;
            margin-top: 20px;
            margin-left:10px;
        }
    }
    .bgimg{
        height:112px;
        width:200px;
        background:url("http://img02.fn-mart.com/pic/6a08133e081a1955a25f/B262zz1z_TCgBgUlOz/19SGeakaUi_GOa/CsmRsVl2rtOAShpBAAA8wr6Lv74017.png")
    }
}
    }
    
    
    
}
//固定logo
.gkp_flycow{
    width:100%;
    height:50px;
    background:#000;
    box-shadow: 0 0 4px #333;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;
    .gkp_con{
        width:$pageWidth;
        height:50px;
        margin:0 auto;
        padding-top:5px;
        h1{
            width:300px;
            height:50px;
            float:left;
            img{
                width:100px;
                height:40px;
            }
        }
    }   
}





.tt{
    width:$pageWidth;
    height:417px;
    margin:10px  auto 0;
    background: url(../img/index/feiniu.gif) center center no-repeat;
    h3{
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
        color: #999;
        font-weight: 700;
        font-family: "Microsoft YaHei";
    }
    .tt_wrap{
        height:234px;
        margin-top:13px;
        a{
            display:block;
            margin-left:16px;
            float:left;
            img{
                width:386px;
                height:234px;
            }
        }
        a:first-child{
            margin-left:0;
        }
    }
    .discount{
        cursor:pointer;
        height:100px;
        display:block;
        margin-top:30px;
    }
}
/*楼梯*/
.floor{
    width: 33px;
    height: auto;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -171px;
    margin-left: -640px;
    border: 1px solid #E5E5E5;
    background-color: #fff;
   
    li{
        display: block;
        text-align:center;
        width:33px;
        height:35px;
        line-height:35px;
        color: #999;
        font-size: 14px;
        font-family: Arial;
        margin: 0 auto;
        background: url(../img/index/index.png) -124px -57px no-repeat;
        position:relative;
        span{
            display:none;  
            width:33px;
            height:30px;
            line-height: 13px;
            color: #fff;
            padding: 5px 0 0 1px;
            font-size: 12px;
            position:absolute;
            left:0;
            top:0;

        }
    }
   
    .stair{
        background-color:#d7063b;
        color:#FFFFFF;
        display:block;
      
    }
}
.snack{
    width:$pageWidth;
    margin:25px auto 0;
    height:605px;
    .snack_nav{
        height:35px;
        border-bottom: 1px solid #d7063b;
        h3{
            width:120px;
            height:30px;
            float:left;
            font-size:20px;
            line-height:30px;
            i{
                width:30px;
                height:25px;
                margin-top:5px;
                line-height:21px;
                font-size:14px;
                color:#FFFFFF;
                display:inline-block;
                text-align:center;
                background: url(../img/index/index.png) -156px -94px no-repeat;
                margin-right:10px;
            }
        }
        >ul{
            float:right;
            border:1px solid #e9e9e9;
            border-bottom:none;
            li{
                float:left;
                width:118px;
                height:35px;              
                color: #666;
                font-family: "Microsoft YaHei";
                height: 33px;
                text-align: center;
                border: 1px solid #fff;
                border-bottom: none;
                background-color: #fff;
                position:relative;              
                span{
                    display:inline-block;
                    width:118px;
                    font-size: 12px;
                    line-height:12px;
                    margin-top:10px;
                    border-right:1px solid #e9e9e9;
                }
                
            }
            .nav_choose{
                border-color: #d7063b;
                    color: #d7063b;
                    width:120px;
                    height:35px;
                    left:-1px;
                    top:-1px;
                    span{
                        border:0;
                    }
            }
         }
        
    }
    
    .snack_con{
        width:$pageWidth;
        height:488px;
        position:relative;
       .snack_activity {
           min-width:190px;
           height:488px;
           display:block;
           float:left; 
           cursor: pointer;
       }
       .snack_left{
           position:absolute;
           min-width:190px;
           left:0px;
           top:244px;
           li:first-child{
                width: 170px;
                height: 46px;
                padding: 8px 10px;
                background: rgba(255,255,255,.5);
                a{
                    display:block;
                    float:left;
                    color: #666;
                    line-height: 23px;
                    width: 150px;
                    font-size:$fontSize;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        color:#d7063b;
                    }
                }
           }
           li:last-child{
                width: 170px;
                height: 173px;
                padding: 9px 10px 0;
                background: rgba(255,255,255,.7); 
                a{
                    display: inline-block;
                    color: #666;
                    font-size: 12px;
                    margin: 0 7px;
                    line-height: 27px;
                    max-width: 60px; 
                    cursor: pointer;
                     &:hover{
                        text-decoration: underline;
                        color:#d7063b;
                    }
                }
           }
       }
       .snack_right{
           float:left;
           width:1000px;
           li{
                float:left;              
                border-right: 1px solid #E9E9E9;
                border-bottom: 1px solid #E9E9E9;
            }
       }
       .snack_right2{
            float:left;
           width:1000px;
           height:488px;
           display:none;
           li{
                float:left;
                width:160px;
                height:233px;
                padding: 10px 19px 0 20px;
                border-right: 1px solid #E9E9E9;
                border-bottom: 1px solid #E9E9E9;
                 a{
                    cursor: pointer;
                    display:block; 
                }
                a:nth-child(2){
                    font-size:$fontSize;
                    line-height: 18px;
                    margin-top: 7px;
                    color:#666;
                    &:hover{
                         color:#d7063b;
                    }
                }
                a:last-child{
                    color:#d7063b;
                    font-weight: 700;
                    span{
                        font-size:$fontSize;
                 
                    }
                    
                }
            }
            
       }
       

        
    }
        .brand{
        width:$pageWidth;
        height: 30px;
        padding: 15px 0;
        background-color: #FBFBFB;
        margin:10px auto 0;
        ul{
            height:30px;
            li{
                float:left;
                width: 118px;
                height: 30px;
                border-left: 1px dotted #ccc;
                text-align: center;
                img{
                    margin:auto;
                }
            }
            
        }
    }
}



